<div class="container">
<h3 class="m-4">マイページ</h3>
  <div class="myinformation ">
    <label>登録情報</label>
    <%= link_to '編集する', edit_user_path(@user) ,class: 'btn btn-success ml-2'%>
    <table class="table table-bordered my-3">
      <thead>
        <tr>
          <th style="width: 30%">nickname</th>
          <th style="width: 70%"><%= @user.nickname %>
        </tr>
        <tr>
          <th style="width: 30%">メールアドレス</th>
          <th style="width: 70%"><%= @user.email %></th>
        </tr>
        <tr>
          <th style="width: 30%">プロフィール</th>
          <th style="width: 70%"><%= @user.profile %></th>
        </tr>
        <% if current_user != @user %>
        <% if current_user.following?(@user) %>
  <%= link_to "Unfollow", user_relationships_path(@user.id), method: :delete %>
<% else %>
  <%= link_to "Follow", user_relationships_path(@user.id), method: :post %>
<% end %>
<% end %>

follow:<%= link_to @user.followings.count, user_followings_path(current_user), class: 'btn btn-success ml-2' %>
follower:<%= link_to @user.followers.count, user_followers_path(current_user), class: 'btn btn-success ml-2' %>

      </thead>
    </table>
  </div>
</div>
