
<div class="mt-md-5">
  <div class="container">
      <div class = "box">
          <span style="text-decoration: underline">welcome to un cafe</span>
      </div><center>
    <div class="a">
      <div class="b"><%= image_tag "cafe1.jpg", class: "c" %></div>
      <div class="b"><%= image_tag "cafe2.jpg", class: "c" %></div>
      <div class="b"><%= image_tag "cafe3.jpg", class: "c" %></div>
      <div class="b"><%= image_tag "cafe5.jpg", class: "c" %></div>
      <div class="b"><%= image_tag "cafe6.jpg", class: "c" %></div>
      <div class="b"><%= image_tag "cafe7.jpg", class: "c" %></div>
      <div class="b"><%= image_tag "cafe8.jpg", class: "c" %></div>
    </div></center>
  </div>
</div>