<main>
  <div class = "container">
    <h1>Postimage</h1>
    <div class = "box2">
      <%= form_with model: @post_image, local:true do |f| %>
      <h6>Image</h6>
        <%= f.attachment_field :image %>
      <h6>Title</h6>
        <%= f.text_field :title, size: "25x1"%>
      <h6>Introdaction</h6>
        <%= f.text_area :introduction, size: "50x5" %><br>
        <%= f.submit '投稿', class: "btn btn-outline-dark"  %>
     </div>
   </div>
  <% end %>
</main>


  <!-- 評価javascript
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[rate]',
    half: true,
  });
  </script>-->
