<main>
  <!-- 画像表示 -->
  <div class = "container">
    <div class="post-body">
      <h2><%= @post_image.title %></h2>
      <div class="media">
        <div class="ml-4"><%= attachment_image_tag @post_image, :image, size: "600x400" %></div>
        <!-- ユーザ投稿情報 -->
        <div class="media-body">
          <div class="ml-3">
            <table>
              <tr>
                <td>
                  <!-- ユーザ情報と投稿内容 -->
                  <%= link_to user_path(@post_image.user) do %>
                  <%= attachment_image_tag @post_image.user, :profile_image, fallback: "noimage.png", size:"80", class: "rounded-circle d-flex ml-2" %>
            　　　　<% end %>
          　     </td>
                <td>
                  <%= link_to user_path(@post_image.user) do %>
                  <%= @post_image.user.nickname %>
                  <% end %>
                </td>
                <td>
                  <div id="favorite_buttons_<%= @post_image.id %>">
                  <%= render'favorites/favorite', post_image: @post_image %>
                  </div>
                </td>
                <td>
                  <div class="ml-5"><br>
                    <%= @post_image.created_at.strftime('%Y/%m/%d') %>
                    <% if @post_image.user == current_user %>
                    <%= link_to "Destroy", post_image_path(@post_image), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
                    <% end %>
                  </div>
                </td>
              </tr>
            </table>

          </div>

          <div class = "border"></div>

          <div class="ml-5">
            <p><%= safe_join(@post_image.introduction.split("\n"),tag(:br)) %>

            <!-- 星と評価 -->
            <table>
              <tr>
                <td>
                  <div id="star-rate-<%= @post_image.id %>"></div>
                </td>
                <td>
                  <h6 class="mb-3"><br><%= @post_image.rate %>点</h6>
                </td>
              </tr>
            </table>

          <!--星評価-->
          <script>
          $('#star-rate-<%= @post_image.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @post_image.rate %>,
          });
          </script>
          </p>
          <%= raw(@post_image.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>
</p>

          </div>
        </div>
      </div>
      <br>
      <div class = "border"></div>

<!-- 地図機能 -->
      <h4>Map</h4>
        <div class="show__address">
          <%= @post_image.spot.address %>
       </div>
       <div class="show__maps" id="show_map" style="height: 320px; width: 400px;"></div>


      <br>
      <div class = "border"></div>

<!-- コメント機能　フォーム-->
      <h4>Comments</h4>

  <%= form_with model:[@post_image,@post_comment] do |f| %>
  <%= f.text_area :comment, size:"60x5",placeholder: "コメント" %>
  <button type="submit" class="button1">
          <i class="far fa-paper-plane"></i>送信
        </button>
<% end %>
<div id = "post_image_<%= @post_image.id %>">
<%= render 'post_comments/index', post_image: @post_image %>
</div>

</div>
</div>
</main>

